.todo-item-view:not(:last-child) {
    margin-bottom: 16px;
}

.todo-list-view {
    margin-top: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.todo-item__container {
    display: flex;
    margin-right: 20px;
}

.todo-item__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 8px;
}

.todo-item__delete {
    border-radius: 16px;
    background-color: crimson;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    height: 40px;
}

.todo-item__delete:hover {
    filter: brightness(85%);
}

.todo-item__checkbox {
    cursor: pointer;
}

.todo-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.todo-form__input {
    width: 100%;
    margin-right: 8px;
    border-radius: 8px;
    padding: 8px 4px;
    border: 1px solid rgba(0, 0, 0, 0.7);;
}

.todo-form__button {
    border-radius: 16px;
    background-color: darkcyan;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    height: 40px;
}
