<div class="heading">
	<h1>Hello 2015!</h1>
	<h2>ToDo List!</h2>

    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item"><a href="/#">Home</a></li>
            <li class="navbar__item"><a href="/#about">About</a></li>
        </ul>
    </nav>
</div>
