<div class="todo-item">
    <div class="todo-item__container">
        <input class="todo-item__checkbox" type="checkbox">
        <p class="todo-item__title"><%= title %></p>
    </div>

    <button id="delete-item" class="todo-item__delete">Delete</button>
</div>
